# Copyright (c) 2026 lazybeeper by Ronen Druker.

# Dependencies
node_modules/
package-lock.json

# Build output
dist/
*.tsbuildinfo

# Coverage
coverage/

# Environment
.env

# Editor/IDE
# .idea/
# .vscode/
/dist-web
/test-results
.DS_Store
